@font-face {
  font-family: 'agipo';
  src: url('./agipo_regular.otf');
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-font-smoothing: antialiased;
}

div {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 20px 40px;
  font-family: 'agipo', sans-serif;
  font-size: 1.2em;
  line-height: 1.3;
}

h1 {
  margin: 0;
}

.app {
  display: flex;
  align-items: flex-start;
  vertical-align: top;
  width: 100%;
}

header {
  padding: 40px 0;
}

header h1 {
  font-size: 3em;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
}

section {
  max-width: 800px;
}

nav {
  width: 300px;
  min-width: 300px;
  flex-basis: auto;
}

nav a,
header h1 a {
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
  transition: padding-left 0.9s;
  transition: border-left 0.3s;
}

nav a:hover,
header h1 a:hover {
  text-decoration: none;
  border-left: 4px solid #000;
  padding-left: 20px;
  color: #e74c3c;
}

header h1 a:hover {
  border-left: 10px solid #000;
}
